node_modules
.env
/Practicas/New Folder/Matrices/target/
/Practicas/practica_java/ArreglosDinamicos/build/
/Practicas/practica_java/Farmacia/nbproject/private/
/Practicas/practica_java/Farmacia/build/
/Practicas/practica_java/Farmacia/dist/
/Practicas/practica_java/Assigment3JavaSwing/target/
/Practicas/practica_java/TestLombok/target/
/Practicas/practica_java/AlgorithmPractices/target/
