#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.card {
  border: 1px solid black;
  backdrop-filter: blur(22px);
  margin: 5px;
  color: black;
  border-radius: 15px;
  max-width: 280px ;
}

.card img{
  width: 100%;
}

.card p {
  font-size: 18px;
}

.papa {
  display: flex;
  justify-content: center;
  align-items: center;
}


.tituloPagina{
  display: flex;
  flex-direction: column;
  align-items: center;
}