#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#img {
  width: 100%;
}

.card {
  backdrop-filter: blur(12px);
  border: 2px solid black;
  border-radius: 22px;
  overflow: hidden;
  max-width: 400px;
  transition: 0.3s;
}

.card p {
  text-align: justify;
}

.card:hover {
  cursor: pointer;
  /* max-width: 410px; */
  backdrop-filter: blur(22px);
  box-shadow: 7px 10px 66px 2px #C6EFF5;
}

.container{
  padding: 15px;
}
